<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://issacemail.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>isaacemail-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\isaacemail-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IssacConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Isaac.Models.ApplicationDbContext, Isaac" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_9FE202_isaacEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Isaac.Models.DB_9FE202_isaacEntities, Isaac" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_9FE202_IsaacDevEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Isaac.Models.DB_9FE202_IsaacDevEntities, Isaac" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_9FE202_isaacEntities2" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5020.Smarterasp.net;Initial Catalog=DB_9FE202_isaac;Persist Security Info=True;User ID=DB_9FE202_isaac_admin;Password=A811003x@;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_9FE202_isaacEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Template.csdl|res://*/Models.Template.ssdl|res://*/Models.Template.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5020.Smarterasp.net;initial catalog=DB_9FE202_isaac;persist security info=True;user id=DB_9FE202_isaac_admin;password=A811003x@;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_9FE202_IsaacDevEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_9FE202_isaacEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_9FE202_isaacEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IssacConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IssacConnection" />
  </ItemGroup>
</Project>